<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-8 ui-md-11">
      <div style="position:relative">
        <h2 style="margin-top: 0px">Funcionários</h2>
      </div>
    </div>
    <div class="ui-g-4 ui-md-1" style="text-align:right">
      <button pButton type="button" class="ui-button-success" icon="pi pi-plus" pTooltip="Adicionar"
        tooltipPosition="top" *ngIf="auth.isAllowed('ROLE_ADD_FUNCIONARIO')" [routerLink]="['/funcionarios/novo']"
        routerLinkActive="active">
      </button>
    </div>

    <input pInputText type="text" style="margin-bottom: 10px" autocomplete="off" [(ngModel)]="filter.nome"
      placeholder="Buscar por nome..." (input)="getAll()">

    <p-table 
    [columns]="cols" 
    [value]="records" 
    [responsive]="true" 
    [lazy]="true" 
    [paginator]="true"
    [rows]="filter.size" 
    [totalRecords]="totalRecords" 
    (onLazyLoad)="nextPage($event)" 
    [loading]="loading"
    loadingIcon="fa fa-spinner">

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th style="width: 100px"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <span class="ui-column-title">{{col.header}}</span>
            {{ col.type ? col.type.transform(rowData[col.field], col.arg1, col.arg2, col.arg3) : rowData[col.field] }}
          </td>
          <td>
            <a pButton style="margin-right: .30em" icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"
              [routerLink]="['/funcionarios', rowData.id]"></a>
            <button pButton class="ui-button-danger" type="button" icon="fa fa-trash-o" pTooltip="Excluir"
              tooltipPosition="top" (click)="confirmDelete(rowData)"
              [disabled]="!auth.isAllowed( 'ROLE_REMOVE_FUNCIONARIO')"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="cols.length + 1">
            Nenhum funcionário encontrado.
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height:34px">
          <td *ngFor="let col of columns">
            <div class="loading-text"></div>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>