<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-lg-6">
    <div class="card no-margin">
      <h2 class="centerText">Rendimentos</h2>
      <p-chart type="line" [data]="data"></p-chart>
    </div>
  </div>

  <div class="ui-g-12 ui-lg-6">
    <div class="card no-margin">
      <h2 class="centerText">Exames</h2>
      <p-chart type="pie" [data]="data2"></p-chart>
    </div>
  </div>

  <div class="ui-g-12 ui-lg-12">
    <div class="card no-margin">
      <h2 class="centerText">Exames</h2>
      <p-chart type="bar" [data]="data3" style="lineWidth: 5"></p-chart>
    </div>
  </div>

</div>